<?xml version="1.0" encoding="utf-8" ?>
<nlog throwConfigExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File" fileName="FFXIVDiscordChatBridge.log" />
        <target name="logconsole" xsi:type="Console" />
        <target name="logdebug" xsi:type="Debugger" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logconsole" />
        <logger name="*" minlevel="Trace" writeTo="logfile" />
        <logger name="*" minlevel="Debug" writeTo="logdebug" />
    </rules>
</nlog>